
h1, h2, h3 {color: #003366;}

a:link {color: #6699cc; background-color: transparent;}
a:visited {color: #6699cc; background-color: transparent;}
a:hover {color: #33cc33; background-color: transparent;}
a:active {color: #33cc33; background-color: transparent;}
