<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MyPyTutor Progress :: ${user.name}</title>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<style>
    % if is_admin:
    th.check,
    td.check {
        width: 1%;
    }

    % endif
    th.problem,
    td.problem {
        width: 33%;
    }

    th.status,
    td.status {
        width: 33%;
    }

    th.submit_time,
    td.submit_time {
        width: 33%;
    }

    .panel-heading i.down,
    .panel-heading.collapsed i.up {
        display: none;
    }

    .panel-heading i.up,
    .panel-heading.collapsed i.down {
        display: inline-block;
    }

    .panel-heading {
        cursor: pointer;
    }

    header h1 a,
    header h1 a:hover,
    header h1 a:focus {
        color: inherit;
        text-decoration: inherit;
    }

    .panel-heading .progress {
        margin: 10px 10px 10px 10px;
        background-color: #eaeaea;
    }
</style>
% if is_admin:
<script type="text/javascript">
function toggle_all(name) {
    var checkboxes = document.getElementsByClassName('checkbox-set-'+name);
    var collector = document.getElementById('checkbox-'+name);
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = collector.checked;
    }
    var counter = document.getElementById('counter-'+name);
    if (collector.checked) {
        counter.innerHTML = " &mdash; " + checkboxes.length + " selected";
    } else {
        counter.innerHTML = "";
    }
}

function checkbox_click(name) {
    var count_on = 0;
    var checkboxes = document.getElementsByClassName('checkbox-set-'+name);
    for (var i = 0; i < checkboxes.length; i++) {
        count_on += checkboxes[i].checked;
    }
    var master = document.getElementById('checkbox-'+name);
    if (count_on == 0) {
        master.checked = false;
        master.indeterminate = false;
    } else if (count_on == checkboxes.length) {
        master.checked = true;
        master.indeterminate = false;
    } else {
        master.checked = false;
        master.indeterminate = true;
    }
    var counter = document.getElementById('counter-'+name);
    if (count_on > 0) {
        counter.innerHTML = " &mdash; " + count_on + " selected";
    } else {
        counter.innerHTML = "";
    }
}
</script>
% endif
</head>
<body>

<div class="container">
    <header>
        <div class="page-header">
            <h1><a href="">MyPyTutor Progress for ${user.name}</a>
                <small>(${user.id})</small>
            </h1>
            <div class="row row-fluid">
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <div class="progress" style="margin-top: 5px;">
                      <div class="progress-bar progress-bar-success" style="width: ${100.*mark/total}%" data-toggle="tooltip" data-placement="top" title="${mark} submitted">
                        <span class="sr-only">${mark} submitted</span>
                      </div>
                      <div class="progress-bar progress-bar-danger" style="width: ${100.*late/total}%" data-toggle="tooltip" data-placement="top" title="${late} late">
                        <span class="sr-only">${late} late</span>
                      </div>
                    </div>
                </div>
                <p class="lead col-lg-2 col-md-3 col-sm-4">${mark} / ${total} = ${round(100.*mark/total, 2)}%</p>
            </div>
        </div>
        % if is_admin:
        <div class="row">
            <div class="col-md-10 col-md-push-2 col-sm-9 col-sm-push-3">
                <ol class="breadcrumb">
                    <li><a href="admin.py">Admin Dashboard</a></li>
                    <li class="active">${user.name}</li>
                </ol>
            </div>
            <div class="col-md-2 col-md-pull-10 col-sm-3 col-sm-pull-9">
                <select class="form-control" name="action" form="edit_form" onchange="this.form.submit()">
                    <option selected>Action:</option>
                    <option value="allow_late">Allow late submission</option>
                    <option value="disallow_late">Disallow late submission</option>
                </select>
            </div>
        </div>
        % endif
    </header>

    % if message:
    <div class="alert alert-dismissible ${message[0]}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    ${message[1]}
    </div>

    % endif
    % if is_admin:
    <form action="#" method="POST" id="edit_form">
    % endif
    <div class="panel-group" id="problemSets" role="tablist" aria-multiselectable="true">
        % for group in groups:
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading${loop.index}" data-toggle="collapse"
                 data-parent="#problemSets" data-target="#collapse${loop.index}" aria-expanded="true" aria-controls="collapse${loop.index}">
                <div class="panel-title clearfix">
                    <h4 class="pull-left">
                        ${group.get('title')}
                        <small>
                        (${len(group['problems'])})
                        % if is_admin:
                        <strong id="counter-${group['slug']}"></strong>
                        % endif
                        </small>
                        <!--<small>(Week ${group.get('week')})</small>-->
                    </h4>
                    <h4 class="pull-right">Due ${group.get('due')}
                    <i class="glyphicon glyphicon-circle-arrow-down down"></i>
                    <i class="glyphicon glyphicon-circle-arrow-up up"></i>
                    </h4>
                    <div class="pull-right col-sm-4">
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" style="width: ${100.*group['mark']/len(group['problems'])}%" data-toggle="tooltip" data-placement="top" title="${group['mark']} submitted">
                            <span class="sr-only">${group['mark']} submitted</span>
                          </div>
                          <div class="progress-bar progress-bar-danger" style="width: ${100.*group['late']/len(group['problems'])}%" data-toggle="tooltip" data-placement="top" title="${group['late']} late">
                            <span class="sr-only">${group['late']} late</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapse${loop.index}" class="panel-collapse collapse ${'in' if loop.index == openIndex else ''}"
                 role="tabpanel" aria-labelledby="heading${loop.index}">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            % if is_admin:
                            <th class="check"><input type="checkbox" id="checkbox-${group['slug']}" onClick="toggle_all('${group['slug']}')"></th>
                            % endif
                            <th class="problem">Problem</th>
                            <th class="status">Status</th>
                            <th class="submit_time">Time submitted</th>
                        </tr>
                        </thead>
                        <tbody>
                        % for problem in group['problems']:
                        <tr class="${'success' if problem.get('status') in ('submitted', 'late_ok') else ('danger' if problem.get('status') == 'late' else 'warning')}">
                            % if is_admin:
                            <td class="check"><input type="checkbox" class="checkbox-set-${group['slug']}" name="problem" value="${problem['hash']}" onClick="checkbox_click('${group['slug']}')"></td>
                            % endif
                            <td class="problem">${problem['title']}</td>
                            <td class="status">
                                %if problem.get('status') == 'submitted':
                                <i class="glyphicon glyphicon-ok"></i> <em>Submitted</em>
                                % elif problem.get('status') == 'late_ok':
                                <i class="glyphicon glyphicon-ok"></i> <em>Submitted late without penalty</em>
                                % elif problem.get('status') == 'late':
                                <i class="glyphicon glyphicon-remove"></i> <em>Late</em>
                                % elif problem['has_allow_late']:
                                <i class="glyphicon glyphicon-minus"></i> <em>Unsubmitted
                                (</em><abbr data-toggle="tooltip" data-placement="bottom" title="You may submit this problem at any time without receiving a mark penalty."><em>late submissions allowed</em></abbr><em>)</em>
                                % else:
                                <i class="glyphicon glyphicon-minus"></i> <em>Unsubmitted</em>
                                % endif
                            </td>
                            <td class="submit_time">
                                % if problem.get('status') != 'unsubmitted':
                                    ${problem.get('submit_time')}
                                % endif
                            </td>
                        </tr>
                        % endfor
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        % endfor


        <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading" role="tab" id="headingTwo">-->
        <!--<h4 class="panel-title">-->
        <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"-->
        <!--aria-expanded="false" aria-controls="collapseTwo">-->
        <!--Collapsible Group Item #2-->
        <!--</a>-->
        <!--</h4>-->
        <!--</div>-->
        <!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">-->
        <!--<div class="panel-body">-->
        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3-->
        <!--wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum-->
        <!--eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla-->
        <!--assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt-->
        <!--sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer-->
        <!--farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
        <!--labore sustainable VHS.-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    % if is_admin:
    </form>
    % endif
</div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
