<!DOCTYPE html>
<!-- TODO: improve the markup of the admin interface. -->
<html>
<head>
    <title>MyPyTutor Admin Dashboard</title>
</head>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<style>
    th.check,
    td.check {
        width: 1%;
    }

    th.userid,
    td.userid {
        width: 10%;
    }

    th.name,
    td.name {
        width: 30%;
    }

    th.email,
    td.email {
        width: 20%;
    }

    th.enrolled,
    td.enrolled {
        width: 10%;
    }

    td.actions,
    td.actions {
        width: 10%;
    }

    .panel-heading i.down,
    .panel-heading.collapsed i.up {
        display: none;
    }

    .panel-heading i.up,
    .panel-heading.collapsed i.down {
        display: inline-block;
    }

    .panel-heading {
        cursor: pointer;
    }

    th a,
    header h1 a,
    header h1 a:hover,
    header h1 a:focus {
        color: inherit;
        text-decoration: inherit;
    }
</style>
<body>

<div class="container">
    <header>
    <div class="page-header">
            <h1><a href="?">MyPyTutor Admin Dashboard</a></h1>
    </div>
    </header>
    % if message:
    <div class="alert alert-dismissible ${message[0]}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    ${message[1]}
    </div>

    % endif
    <div class="row-fluid">
        <form action="" method="get" role="search">
            <div class="col-lg-3 col-lg-push-6">
                <div class="input-group" style="width: 100%;"> <!-- Sorry for using inline styling :) -->
                    <input type="text" class="form-control" name="query" placeholder="Filter" value="${query}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        % if query != '':
                        <a href="?query=&enrol_filter=${enrol_filter}&sort=${sort}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                        % endif
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-push-6">
                <select class="form-control" name="enrol_filter" onchange="this.form.submit()">
                  <option value="all" ${'selected' if enrol_filter=='all' else ''}>Show all users</option>
                  <option value="enrolled" ${'selected' if enrol_filter=='enrolled' else ''}>Show only enrolled users</option>
                  <option value="not_enrolled" ${'selected' if enrol_filter=='not_enrolled' else ''}>Show only not-enrolled users</option>
                </select>
            </div>
        </form>
    </div>

    <div>
        <form action="" method="POST">
        <div class="col-lg-2 col-lg-pull-6">
            <select class="form-control" name="action" onchange="this.form.submit()">
                <option selected>Action:</option>
                <option value="enrol">Enrol</option>
                <option value="unenrol">Unenrol</option>
            </select>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="check"></th>
                ## TODO: find a more scalable way to do this:
                % for key, name in [('id', 'User ID'), ('name', 'Name'), ('email', 'Email')]:
                <th class="userid">${name}
                % if sort == key:
                <a href="?query=${query}&enrol_filter=${enrol_filter}&sort=${key}_reverse">
                    <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                </a>
                % elif sort == key + '_reverse':
                <a href="?query=${query}&enrol_filter=${enrol_filter}&sort=${key}">
                    <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </a>
                % else:
                <a href="?query=${query}&enrol_filter=${enrol_filter}&sort=${key}">
                    <i class="glyphicon glyphicon-sort"></i>
                </a>
                % endif
                </th>
                % endfor
                <th class="enrolled">Enrolled?</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            % for user in users:
            <tr>
                <th class="check"><input type="checkbox" name="selected_user" value="${user.id}"></th>
                <td class="userid">${user.id}</td>
                <td class="name">${user.name}</td>
                <td class="email">${user.email}</td>
                <td class="enrolled">${'Yes' if user.enrolled == 'enrolled' else 'No' if user.enrolled == 'not_enrolled' else '{Bad Data}'}</td>
                <td class="actions"><a href="progress.py?user=${user.id}">View Progress</a></td>
            </tr>
            % endfor
            </tbody>
        </table>
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
